@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

html {
  /* Colors */
  --orange-light: #ff8952;
  --orange-dark: #642d14;

  --foreground: #ffffff;
  --background: #232323;
  --background-dark: #131313;
  --link-color: var(--orange-light);

  /* spacing */
  --space: 8px;
  --space-lg: 12px;
  --round: 16px;
  --max-width: 400px;
}

/* :root {
  --body-color: white;
  --font-color: black;
  --h1-color: gold;
}

[data-dark-mode] {
  --body-color: black;
  --font-color: white;
} 
@media (prefers-color-scheme: dark) {
  --body-color: black;
  --font-color: white;
}  
*/

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: "Noto Serif", serif; */
  font-family: "Noto Sans Mono", monospace;
  font-weight: 300;
  padding: var(--space);
}

main {
  padding: var(--space);
}

a {
  color: var(--link-color);
}

/* STANDARD */
.main {
  max-width: var(--max-width);
  margin: 0 auto;
  text-align: center;
}

/* LINKS */
.links {
  margin: 0 auto;
  max-width: var(--max-width);
  padding: var(--space);
}
.links > a {
  margin-bottom: var(--space-lg);
}

a.link {
  display: block;
  border: 1px solid var(--foreground);
  padding: var(--space) var(--space-lg);
  border-radius: 16px;
  text-align: center;
  color: var(--foreground);
}
a.link:hover {
  color: var(--orange-light);
  border-color: var(--orange-light);
}

.redirect-link {
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: var(--max-width);
  margin: var(--space) auto;
  padding: var(--space);
}

.cancel-btn {
  padding: var(--space);
  border-radius: 16px;
  background: var(--background-dark);
  color: var(--foreground);
}
