<p>Professor, climate scientist, and thoughtful human Kim Nicholas (who runs the
  <a
    href="https://wecanfixit.substack.com/"
    target="_blank"
    rel="noopener noreferrer nofollow"
  >We Can Fix It substack</a>) put together this excellent and interactive
  resource for anyone to discover their climate superpower.</p>