<p>Early voting in Texas is from Oct 21 - Nov 1, and the general election day is
  Nov 5. Find your voting precint with this
  <a
    href="https://haysgis.maps.arcgis.com/apps/instant/media/index.html?appid=9827d03c523f424e8d210a772b1003c0"
    target="_blank"
    rel="noopener noreferrer nofollow"
  >interactive map</a>.</p>
<p>
  Not sure what to make of the candidates? Check out the
  <a
    href="https://climatecabinet.org/climate-scores"
    target="_blank"
    rel="noopener noreferrer nofollow"
  >National Climate Scorecard</a>
  to see how the incumbents are doing environmental justice issues. The League
  of Women Voters put together a non-partisan
  <a
    href="https://drive.google.com/file/d/1PflbOAq1KRtoQqvW_v3ktBLnau6zr7r4/view"
    target="_blank"
    rel="noopener noreferrer nofollow"
  >voter's guide for Hays County</a>
  with candidate answers to various questions. See which candidates have pledged
  not to take fossil fuels with
  <a
    href="https://nofossilfuelmoney.org/"
    target="_blank"
    rel="noopener noreferrer nofollow"
  >No Fossil Fuel Money's tool</a>.
</p>
<p>Aside from the usual stuff, there's a proposition on the ballot for Hays
  County to fund improving and expanding roads. The proposed road bond plan
  includes development over sensitive watershed areas. Read more in
  <a
    href="https://universitystar.com/27113/news/residents-to-vote-on-hays-county-road-bond-at-november-general-election/"
  >The University Star</a>.</p>