{{#if (and @title @url)}}
  <a
    class="link"
    href={{@url}}
    target="_blank"
    rel="noopener noreferrer nofollow"
    {{on "click" this.trackLink}}
    ...attributes
  >{{@title}}</a>
{{/if}}