<header class="main">
  <h1>{{this.model.title}}</h1>
  <hr />
</header>
<main class="links">
  <p>{{this.model.description}}</p>
  <TrackedLink @url={{this.model.url}} @title={{this.model.cta}} />
</main>